@use '../abstract' as*;

.banner {
    @include flex(center,center);
    min-height: 35rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    h1{
        font-size: clamp(3rem, 10vw, 7rem);
        font-weight: bolder;
    }
}

.banner--activities {
    background-image: url('../../images/family/family_activities1.jpeg');
    @include mediaQuery{ 
    background-image: url('../../images/family/family_activitiesbig1.jpeg'); 
    }
}

.family{

    &__wrapper{
        @include grid-row(3);
        margin-top: 2rem;
    }

    

    img{
        @include imgCover(100%, 100%);
        border-radius: 2rem;
        margin-bottom: 2rem;

        @include mediaQuery{
        @include imgCover(100%, 100%);
        border-radius: 2rem;
        margin-bottom: 2rem;
        }
    }

    &__card{
        .content{
            @include mediaQuery{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .container{
        @include mediaQuery {
            display: flex;
            flex-direction: row;
            gap: 4rem;
        }
        content{
            @include mediaQuery{
                display: flex;
                flex-direction: column;
                div{
                    flex-grow: 1;
                }
               
        } 
            .btn{
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
            }
        
        }
        
        p{
            text-align: justify;
            
            }
        a{
            font-size: 2rem;
            font-weight: bold;
            
            }
        h2{
            font-size: 3rem;
            @include mediaQuery{
                font-family: "Spedee-regular" ,arial, sans-serif;
                font-size: 4rem;
                font-weight: bold;
            }
        }
            
        }
            
        button{
            @include flex(center,center);
            min-height: 5rem;
            border: hidden;
            border-radius: 1rem;
            width: 100%; 
            transition: .5 ease;;
            text-transform: uppercase;
            &:hover{
                background: darken($clr--primary,9);
            }
            
            @include mediaQuery{
                width: 50%
            }
   
            
        }

        }  
    
    }
   




